.big_cloud {
  position: absolute;
  z-index: -10;
}

.medium_cloud {
  position: absolute;
  right: 5%;
  z-index: -10;
}

.small_cloud {
  position: absolute;
  right: 5%;
  z-index: -10;
}


.sunny {
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
