.big_cloud {
  position: absolute;
  z-index: -10;
}

.medium_cloud {
  position: absolute;
  right: 5%;
  z-index: -10;
}

.small_cloud {
  position: absolute;
  right: 5%;
  z-index: -10;
}

.sunny {
  position: absolute;
  left: -300px;
  top: -400px;
  z-index: -10;

}


